/* |||| IMPORT |||| */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* |||| ROOT |||| */

:root {
    /* COLORS */
    --black: rgb(28, 35, 43);
    --cream: rgb(242, 234, 226);
    --green-500: rgb(61, 129, 104);
    --green-700: rgb(26, 64, 50);
    --grey: rgb(108, 114, 137);
    --white: rgb(255, 255, 255);
}

/* RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* |||| GENERAL |||| */

html {
    background-color: var(--cream);
    font-size: 14px;
}

img {
    object-fit: contain;
    max-width: 100%;
}

main {
    /* align-items: center; */
    display: flex;
    justify-content: center;
    /* height: 100vh; */
}

/* |||| CARD |||| */

.container {
    background-color: var(--white);
    border-radius: 8px;
    /* max-height: 750px; */
    width: 100%;
    max-width: 350px;
}

/* |||| CARD IMAGE |||| */

.img--perfume {
    border-radius: 8px 8px 0 0;
    max-height: 342px;
}

/* |||| PERFUME DETAILS |||| */

.perfume-details {
    /* padding: 32px; */
    padding: 2.286em;
}

p,
label,
button {
    font-family: Montserrat, Arial;
}

h1,
.price p {
    font-family: Fraunces, serif;
}

label {
    color: var(--grey);
    /* font-size: 12px; */
    font-size: 0.857rem;
    font-weight: medium;
    /* letter-spacing: 5px; */
    letter-spacing: 0.417em;
    text-transform: uppercase;
}

h1 {
    color: var(--black);
    /* font-size: 32px; */
    font-size: 2.286rem;
    font-weight: bold;
    line-height: 100%;
    /* margin: 24px 0; */
    /* margin: 0.75em 0; */
    margin: 0.5em 0 0.7em;
}

p {
    color: var(--grey);
    /* font-size: 14px; */
    font-size: 1rem;
    font-weight: medium;
    line-height: 160%;
}

.price {
    /* margin: 24px 0; */
    /* margin: 1.714em 0; */
    margin: 1.2em 0;
}

.price__now {
    color: var(--green-500);
    /* font-size: 32px; */
    font-size: 2.286rem;
    font-weight: bold;
}

.price__before {
    font-family: Montserrat, Arial; 
    /* font-size: 13px; */
    font-size: 0.929rem;
    font-weight: 500;
    /* line-height: 120%; */
    margin-left: 1.143em;
    text-decoration: line-through;
    vertical-align: top;
}

button {
    background-color: var(--green-500);
    border: none;
    border-radius: 8px;
    color: var(--white);
    /* font-size: 14px; */
    font-size: 1rem;
    font-weight: bold;
    /* padding: 17.5px 0; */
    padding: 1.25em 0;
    /* padding: 1.22em 0; */
    width: 100%;
}

button img {
    /* margin-right: 8px; */
    margin-right: 0.571em;
}

button:hover,
button:active {
    background-color: var(--green-700);
    cursor: pointer;
}

/* footer {
    align-items: end;
    display: flex;
    justify-content: center;
} */

/* |||| MEDIA QUERRIES |||| */

/* TABLET SCREEN OR BIGGER */
@media screen and (min-width: 599px) {

    main {
        align-items: center;
        height: 100vh;
    }

    .container {
        display: flex;
        max-height: 450px;
        max-width: 600px;
    }

    .img--perfume {
        border-radius: 8px 0px 0px 8px;
        max-height: 456px;
        object-fit: cover;
        max-width: 300px;
    }

    .perfume-details {
        max-width: 300px;
    }
}